@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

/* Font Family */
.ff-playfair {
    font-family: "Playfair Display", sans-serif !important;
}

.ff-italiana {
    font-family: "Italiana", sans-serif !important;
}

.ff-times-new-roman {
    font-family: "Times New Roman", Times, serif !important;
}

.ff-inter {
    font-family: "Inter", sans-serif !important;
}

.ff-dm-mono {
    font-family: "DM Mono", monospace;
}

/* Font Weight */
.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

/* Font Size */
.fs-96 {
    font-size: 96px !important;
}

.fs-56 {
    font-size: 56px !important;
}

.fs-48 {
    font-size: 48px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}

/* Text Color */
.text-primary {
    color: var(--color-primary) !important;
}

.text-primary-dark {
    color: var(--color-primary-dark) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.text-secondary-light {
    color: var(--color-secondary-light) !important;
}

.text-danger {
    color: var(--color-danger) !important;
}

.text-light {
    color: var(--color-light) !important;
}

.text-white {
    color: var(--color-white) !important;
}

.text-dark {
    color: var(--color-dark) !important;
}

/* Background Color */
.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-primary-dark {
    background-color: var(--color-primary-dark) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-secondary-light {
    background-color: var(--color-secondary-light) !important;
}

.bg-danger {
    background-color: var(--color-danger) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-white {
    background-color: var(--color-white) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

/* Border Radius */
.rounded-4 {
    border-radius: .4rem !important;
}

.rounded-5 {
    border-radius: .5rem !important;
}

/* Object Position */
.object-position-top {
    object-position: top;
}

.object-position-bottom {
    object-position: bottom;
}

.object-position-left {
    object-position: left;
}

.object-position-right {
    object-position: right;
}

.object-position-center-top {
    object-position: center calc(45%);
}

.object-position-center-top-md {
    object-position: center calc(35%);
}

.object-position-center-top-lg {
    object-position: center calc(25%);
}

.object-position-center-bottom {
    object-position: center calc(55%);
}

.object-position-center-bottom-lg {
    object-position: center calc(75%);
}

@media screen and (max-width: 767px) {

    /* Font Size*/
    .fs-xs-96 {
        font-size: 96px !important;
    }

    .fs-xs-56 {
        font-size: 56px !important;
    }

    .fs-xs-48 {
        font-size: 48px !important;
    }

    .fs-xs-40 {
        font-size: 40px !important;
    }

    .fs-xs-32 {
        font-size: 32px !important;
    }

    .fs-xs-28 {
        font-size: 28px !important;
    }

    .fs-xs-24 {
        font-size: 24px !important;
    }

    .fs-xs-22 {
        font-size: 22px !important;
    }

    .fs-xs-20 {
        font-size: 20px !important;
    }

    .fs-xs-18 {
        font-size: 18px !important;
    }

    .fs-xs-16 {
        font-size: 16px !important;
    }

    .fs-xs-14 {
        font-size: 14px !important;
    }

    .fs-xs-12 {
        font-size: 12px !important;
    }

    /* Width */
    .w-xs-100 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1500px) {}